*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/python/neural_env/*.apk
*.dm
*.jks
diagnostics
.artifacts/
app/google-services.json
log.txt
tree.txt
*.bak
transform.py
